html, body, h1, h2, ul, li, p, canvas {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  text-decoration: inherit;
  text-align: inherit;
  font: inherit;
  background: transparent;
  color: inherit;
  box-sizing: inherit;
  color: inherit;
}

body {
  background: #202020;
  font-family: "lucida sans";
  color: crimson;
  text-align: center;
  width: 100%;
}

canvas {
  float: left;
}

h1 {
  display: block;
  font-size: 36px;
  margin: 20px auto;
}

h2 {
  font-size: 20px;
  padding: 3px 0;
  margin: 10px 0;
}

ul {
  list-style: none;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.content-left {
  float: left;
  width: 200px;
}

.content-left p {
  font-size: 14px;
  text-align: left;
}

.content-left ul {
  text-align: left;
}

.content-right {
  width: 200px;
  float: right;
}

.content-right .leaderboard {
  text-align: left;
  line-height: 1.3;
}

.controls {
  width: 400px;
  margin: 0 auto;
  font-size: 14px;
  display: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}


.controls.active{
  display: block;
}

.switch {
  font-size: 12px;
  width: 180px;
  display: none;
  background: orangered;
  cursor: pointer;
  padding: 3px;
  border-radius: 3px;
  margin: 0 auto 5px a;
  color: black;
}

.switch.active {
  display: block;
}

.timer-controls .display {
  display: none;
}

.timer-controls .display.active {
  display: block;
}

.timer {
  width: 800px;
  margin: 0 auto;
}
